[Unit]
Description=Kiosk Print Agent
After=network.target basicweigh.service

[Service]
Type=notify
WorkingDirectory=/opt/kioskprint
ExecStart=/opt/kioskprint/KioskPrintAgent
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=kioskprint
User=admin
Group=admin
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
